.drawer {
  align-items: center;
  background: #b2ccf5 !important;
  display: flex;
  justify-content: center;
}

.list {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 36px;
  text-align: center;
}
