.wrapper {
  display: flex;
  justify-content: center;
  padding: 12px;
  position: relative;
}

.inner {
  display: grid;
  overflow: hidden;
  width: min(980px, 100%);
}

.list {
  display: grid;
  gap: 6px;
}

.item {
  align-items: center;
  background: #fff;
  border: 1px solid #f3ece3;
  cursor: pointer;
  display: flex;
  gap: 18px;
  padding: 12px;
}

.title {
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
