.wrapper {
  background: #333;
  display: flex;
  height: 62px;
  justify-content: center;

  .inner {
    align-items: center;
    color: #fff;
    display: flex;
    gap: 12px;
    width: min(1280px, 100%);
  }

  .duration,
  .image {
    @media (width < 740px) {
      display: none;
    }
    @media (740px <= width) {
      display: block;
    }
  }

  .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .duration {
    color: #ccc;
    font-size: 1.4rem;
  }

  @media (width < 740px) {
    padding: 0 12px;
  }

  @media (740px <= width) {
    padding: 0 24px;
  }
}

.lineWrapper {
  height: 2px;
  overflow: hidden;
  position: relative;
}

.lineWrapper > * {
  inset: 0;
  position: absolute;
}

.reactPlayer {
  height: 1px !important;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px !important;
}
